canvas{
	
	background-image: url("snake-back.jpg");
	border:10px solid green;
}
.keyboard{
	width: 510px;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.bottom{
	display: block;
}

@media screen and (max-width: 1000px){
	.keyboard button{
		font-size: 2rem;
	}
}
